:root {
    --primary-color: #7986cb;
    --secondary-color: #9fa8da;
    --accent-color: #c5cae9;
    --background-color: #e8eaf6;
    --text-color: #3f51b5;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "JetBrains Mono";
    font-size: 16px;
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.5;
    height: auto;
    min-height: 320px;
    background-color: var(--background-color);
}

.navbar {
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.navbar-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--background-color);
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s ease;
}

.navbar-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.container p {
    font-size: 26px;
    font-weight: 700;
    color: var(--background-color);
    transition: all .3s ease-in-out;
}

.container p:hover {
    font-size: 30px;
    color: var(--accent-color);
}

.navbar-menu li a:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
}

section img {
    display: block;
    width: 256px;
    height: 256px;
    margin: 0 auto;
}

section p {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.latestVideoEmbed {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 600px;
    height: 340px;
}

.subs {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.3s ease;
    background-color: #171717;
    width: 320px;
    height: 110px;
}

.subs:hover {
    transform: translateY(-5px);
}

.footer {
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.footer-wrapper {
    width: 100%;
    padding: 60px 20px 10px;
}

.icons {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    transition: all 0.3s ease;
}

.icons a i {
    color: var(--text-color);
    font-size: 1.5em;
    opacity: 0.8;
}

.icons a:hover {
    background-color: var(--text-color);
    transform: translateY(-2px);
}

.icons a:hover i {
    color: var(--background-color);
    transform: translateY(-2px);
}

.navigation {
    margin: 30px 0;
}

.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 10px;
}

.navigation ul li {
    transition: all 0.3s ease;
}

.navigation ul li:hover {
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: column;
        width: 23.5rem;
        margin: 0 auto;
    }

    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar .container p{
        display: none;
    }

    .navbar-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu li {
        display: block;
        width: 100%;
    }

    .navbar-menu li:nth-child(2), .navbar-menu li:nth-child(3), .navbar-menu li:nth-child(4), .navbar-menu li:nth-child(5) {
        display: none;
    }

    .navbar-menu li a {
        display: block;
        width: 100%;
        padding: 15px;
        text-align: left;
        font-size: 1.5em;
    }

    section {
        padding: 15px;
        margin: 10px;
        max-width: 100%;
    }
    
    .latestVideoEmbed {
        width: 260px;
        height: 140px;
    }

    .subs {
        width: 260px;
        height: 110px;
    }

    .footer {
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    .footer-wrapper {
        padding: 30px 10px 5px;
    }

    .icons {
        flex-wrap: wrap;
    }

    .icons a {
        padding: 8px;
        margin: 5px;
    }

    .icons a i {
        font-size: 1.2em;
    }

    .navigation {
        margin: 20px 0;
    }

    .navigation ul {
        flex-direction: column;
    }

    .navigation ul li {
        margin: 5px 0;
    }

    .navigation ul li a {
        font-size: 14px;
        margin: 5px 0;
    }
}